LoggedEventsSettings(
    plugin_enabled: true,
    events_settings: {
        "Add<observers::Mine>": EventSettings(
            enabled: true,
            pretty: true,
            level: "INFO",
        ),
        "Despawn<observers::Mine>": EventSettings(
            enabled: true,
            pretty: true,
            level: "INFO",
        ),
        "Insert<observers::Mine>": EventSettings(
            enabled: true,
            pretty: true,
            level: "INFO",
        ),
        "Remove<observers::Mine>": EventSettings(
            enabled: true,
            pretty: true,
            level: "INFO",
        ),
        "Replace<observers::Mine>": EventSettings(
            enabled: true,
            pretty: true,
            level: "INFO",
        ),
        "observers::Explode": EventSettings(
            enabled: true,
            pretty: false,
            level: "INFO",
        ),
        "observers::ExplodeMines": EventSettings(
            enabled: true,
            pretty: false,
            level: "INFO",
        ),
    },
)